<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.one.direction.nabehha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddTripAcitivty"></activity>
        <activity android:name=".EditTrip" />
        <activity android:name=".DisplayTrip" android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAluiqmBBsMrnJnpodYT7BPG_MYjZrihfE" />

        <service
            android:name=".service.note.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.TripAlarmDialog"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DownloadImage"
            android:exported="false" />

        <activity android:name=".SignUpActivity"></activity>

        <service
            android:name=".service.DownloadImage"
            android:exported="false" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>